<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="isDebugMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  
  <connectionStrings>
    <!--development db-->
    <add name="esvcuserdb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=False;User ID=epweb_portal;Password=E9eWb_90rtA$;pooling=true;Max Pool Size=30;Min Pool Size=4;Connection Timeout=5000;Validate Connection=true;Data Source=10.1.9.211:1521/esvdev"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="esvccorpdb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=False;User ID=esvc_corp_data;Password=E$vc_C0r9_Do1A;pooling=true;Max Pool Size=30;Min Pool Size=4;Connection Timeout=5000;Validate Connection=true;Data Source=10.1.9.211:1521/opsdev" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="esvcpldb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=False;User ID=esvc_pbox_pl;Password=E$vc_Pb0x0ps;pooling=true;Max Pool Size=30;Min Pool Size=4;Connection Timeout=5000;Validate Connection=true;Data Source=10.1.9.211:1521/opsdev" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="messagedb" providerName="Oracle.ManagedDataAccess.Client" connectionString="Persist Security Info=False;User ID=web_user;Password=web_user;pooling=true;Max Pool Size=30;Min Pool Size=4;Connection Timeout=5000;Validate Connection=true;Data Source=10.1.9.211:1521/opsdev" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
